<div style="width:100%; text-align: center;">
	<% @games.each do |game| %>
		<a href="/kakao_accounts?game_id=<%=game.id%>">
		<div>
			<img src="<%=game.image_url%>" style="width:200px;">
			<!-- <%=game.name%> -->
		</div>
		</a>
	<% end %>
</div>